# Terraform state
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
infrastructure/terraform.tfstate.*

# Terraform crash logs
infrastructure/crash.log
infrastructure/*.tfplan

# Local .terraform directories
infrastructure/.terraform/
infrastructure/.terraform.lock.hcl

# Lambda deployment artifacts
lambda/*.zip

# Virtual env files
**/.venv/

# Mac specific file (stores File Explorer data)
.DS_Store

# __pycache__ directories
**/__pycache__/

# pytest cache
**/.pytest_cache/